body 
{
    width: 100%;
    margin: 0 auto;
    padding:0px;
    font-family:helvetica;
    background-color: #0000;
}


#wrapper
{
    text-algin:center;
    margin: 0 auto;
    padding: 0px;
    width: 995px;
}

playerWrapper
{
    position: relative;
    width: 400px;
    margin-left: 300px;
}

#videoPlayer
{
    width: 400px;
}

#playerControls
{
    top: 98%;
    position: absolute;
    background-color: #000;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

input[type="image"]

{
    float: left;
    height: 20px;
    margin-left: 2px;
    margin-right: 5px;
    margin-top: 2px;
}

#vol_img
{
    margin-left: 150;
    width:20px;
}